---
import { getCollection } from 'astro:content';

import ContactCTA from '../ContactCTA.astro';
import PortfolioPreview from '../PortfolioPreview.astro';
import Hero from '../Hero.astro';
import Grid from '../Grid.astro';

const projects: any[] = [
	{
		path: 'project-one',
		title: 'Project 1',
		img: 'https://images.pexels.com/photos/276267/pexels-photo-276267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		animation: 'https://mir-s3-cdn-cf.behance.net/project_modules/hd/5eeea355389655.59822ff824b72.gif',
		img_alt: 'imag 1'
	},
	{
		path: 'project-one',
		title: 'Project 1',
		img: 'https://images.pexels.com/photos/276267/pexels-photo-276267.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1',
		animation: 'https://mir-s3-cdn-cf.behance.net/project_modules/hd/5eeea355389655.59822ff824b72.gif',
		img_alt: 'imag 1'
	}
];

import { getI18N } from '../../i18n';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title={i18n.portfolio.title}
				tagline={i18n.portfolio.description}
				align="start"
				centerTexts={true}
			/>
			<Grid variant="offset">
				{
					projects.map((project) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>

	<style>
		main {
			display: flex;
			flex-direction: column;
			align-items: center; /* Esto centra el contenido horizontalmente */
			gap: 80px; /* Esto establece el espacio entre los elementos */
		}
		Hero .stack {
		text-align: center;
	}
	</style>